append .row-fluid
  div(class="row-fluid")
    .span9
      dl.dl-horizontal
        dt track
        dd 
          a(href=result.url, target="_blank") #{result.name}
        dt album
        dd 
          a(href=result.album.url, target="_blank") #{result.album.name}
    if result.album.image
      .span2
        img(src=result.album.image, width=100, height=100)